<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registernew</servlet-name>
        <servlet-class>registernew</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>donorsearch</servlet-name>
        <servlet-class>donorsearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>donornew</servlet-name>
        <servlet-class>donornew</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginDao</servlet-name>
        <servlet-class>LoginDao</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registernew</servlet-name>
        <url-pattern>/registernew</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>donorsearch</servlet-name>
        <url-pattern>/donorsearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>donornew</servlet-name>
        <url-pattern>/donornew</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginDao</servlet-name>
        <url-pattern>/LoginDao</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
